* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 600px;
  background: url('https://www.linkpicture.com/q/110601.jpg') center no-repeat;
}

.navbar {
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background: rgba(31, 0, 219, 0.72);

}

h2 {
  color: #fff;
}

.navul {
  display: flex;
  width: 500px;

  display: flex;

  align-items: center;
  justify-content: space-around;
}

.link {
  list-style: none;
  color: #fff;
  cursor: pointer;
}
.link:hover {
  text-shadow: 5px 5px 20px rgba(255, 255, 255);
  color: #FF3434;
}

button {
  width: auto;
  padding: .5rem 1rem;
  background: #FF3434;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);
}
button:hover {
  color:#FF3434;
  background: #fff;
}

.header-div {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(31, 0, 219, 0.72);
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 2rem;
  color: #fff
}

span {
  color: #FF3434;
}

.desc {
  color: #fff;
}

.header-text {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.header-image {
  width: 320px;
  height: 420px;
  background: url('https://linkpicture.com/q/910251.jpg') center no-repeat;
  background-size: cover;
  border-radius: 20px 0 20px 0;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.main {
  width: 100%;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-image {
  width: 250px;
  height: 250px;
  background: url('https://i.postimg.cc/0PstXbqH/818362.jpg') center no-repeat;
  background-size: cover;
  margin-left: 5%;
  border-radius: 10px;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.5);
}

.main-text {
  width: 40%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

}

.main-text h3 {
  font-size: 2rem;
  color: #000;
}

.main-text p {
  font-size: 1.2rem;
}

.main-text span {
  color: #FF3434;
}

.title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.title p {
  font-size: .8rem;
  color: #FF3434;
}

.title h3 {
  font-size: 1.5rem;
  color: #000;

}

.description {
  width: 80%;
  height: auto;
  display: flex;
  padding: 8rem 0;
  align-items: center;
  justify-content: space-around;
}

.card.i {
  width: 250px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

.card.i span {
  font-size: 2rem;
  color: #FF3434;
  position: absolute;
  transform: translateY(-4.5rem);
}

.card.i h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
}

.card p {
  font-size: 1rem;
}

.bars {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
}

.bar-conteiner {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #000;
}

.bar-contet {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 1rem;
  padding: .5rem;
}

.circle.image {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.banner {
  width: 80%;
  height: 500px;
  background: url('https://i.postimg.cc/pLJH1NgT/262005-yue-arifureta-shokugyou-de-sekai-saikyou-1920x1080.png') center no-repeat;
}

.slides {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF3434;
  margin: 1rem;
}

.cards {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagem {
  width: 200px;
  height: 200px;
}

.cards.b {
  padding-top: 4rem
}

.card-text {
  width: 150px;
  height: 200px;
  transform: translatey(10px);
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.5);
  padding: .5rem;
}

.card-text h5 {
  font-size: 1rem;
}

.card-text p {
  font-size: 1rem;
}

.imagem.b {
  width: 100%;
  height: 100%;
}

.card-text.b {
  width: 200px;
  height: 200px;
  transform: translatey(20px);
  background: #fff;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.5);
  padding: .5rem;
}

.imagems {
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images {
  width: 40px;
  height: 40px;
  background: #000;
}

.footer {
  width: 70%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}